* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

p {
  padding: 2rem;
}

main {
 
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
  background: #f4f4f4;
  height: 100vh;
}

.card {  padding: 2rem;

  /* Container Units */
  
}





