body {
  font-family: Arial, sans-serif;
}

/* .container h1 {
  color: blue;
} */


/* ID */
#heading {
  /* color: green; */
  color: purple !important;
}

/* class */
.headings {
  color: blue;
}
/* element */
h1 {
  color: red !important;
}